<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>EJS模板</title>
    <link rel="stylesheet" href="../assets/basic.css">
    <link rel="stylesheet" href="../assets/light.css">
</head>
<body>
    <div class="container">
        <img src=<%-avatar%> alt="" class="avatar"/>
        <p class="baseColor h1"><%=name%>&nbsp;&nbsp;<%=age%></p>
        <p class="baseColor job"><%=job%></p>
        <div class="row">
                <div class="left-column">
                        <p class="baseColor h1">Info</p>
                        <%for(let i in contact){%>
                            <p class="baseColor"><%=i%>：<%=contact[i]%></p>
                            <%}%>
                    </div>
                    <div class="right-column">
                            <p class="baseColor h1">Experience</p>
                    </div>
        </div>
    </div>
 </body>

 </html>