<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%=name%>'s Resume</title>
    <link rel="stylesheet" href="../assets/basic.css">
    <link rel="stylesheet" href="../assets/light.css">
</head>

<body>
    <div class="container" id="root">
        <div class="left paddingT20">
            <img src=<%-avatar%> alt="" class="avatar"/>
            <p><%=name%></p>
            <p> <%=job%></p>
            <div class="info-block">
                <p class="block-title">个人资料</p>
                <p>性  别：<%=sex%></p>
                <p>年  龄：<%=age%></p>
                <p>常住地：<%=place%></p>
            </div>

            <div class="info-block">
            <p class="block-title">联系方式</p>
                <%for(let i in contact){%>
                <p>
                    <%=i%>：
                        <%=contact[i]%>
                </p>
            <%} %>
            </div>

            <div class="info-block">
                <p class="block-title">掌握技能</p>
                <div class="skill">
                    <%for(let i in skills){%>
                        <p class="skill-label">
                            <span><%=i%>：</span>
                            <div class="skill-bar"><div class="skill-bar-inner" style="width:<%=(skills[i]*100+'%')%>"></div></div>
                        </p>
                        <%} %>
                </div>
            </div>


        </div>
        <div class="right">

            <div class="content-block">
                <div class="title">教育背景</div>
                <div class="flex">
                    <p><%=college.date%></p>
                    <p><%=college.school%></p>
                    <p><%=college.subject%></p>
                </div>
                <p><%=college.description%></p>
            </div>

            <div class="content-block">
                <div class="title">工作经历</div>
                <%for(let i in career){%>
                <div class="wrapper">
                    <div class="flex">
                        <p><%=career[i].date%></p>
                        <p><%=career[i].company%></p>
                        <p><%=career[i].job%></p>
                    </div>
                    <ul class="list">
                    <%for(let j of career[i].descrition){%>
                        <li><%=j%></li>
                    <%} %>
                    </ul>
                </div>
                <%} %>
            </div>

            <div class="content-block">
                <div class="title">项目经验</div>
                <%for(let i in experience){%>
                <div class="wrapper">
                    <div class="flex">
                        <p><%=experience[i].date%></p>
                        <p><%=experience[i].project%></p>
                    </div>
                    <ul class="list">
                    <%for(let j of experience[i].descrition){%>
                        <li><%=j%></li>
                    <%} %>
                    </ul>
                </div>
                <%} %>
            </div>

            <div class="content-block">
                <div class="title">个人介绍</div>
                <p><%=other%></p>
            </div> 
        </div>
    </div>
    <footer>
        <p class="baseColor no-spacing margin50 text-right marginR50">
                <button class="marginR50" onclick="print()">保存pdf</button>
            created by <a href="https://github.com/mytac/resume-kit">github.com/mytac/resume-kit</a></span>
    </footer>

</body>
<script src="../assets/html2pdf.bundle.min.js"></script>
<script>

    function print(){
    var element = document.getElementById('root')
    var opt = {
        margin:       -50,
        filename:     'myfile.pdf',
        image:        { type: 'jpeg', quality: 0.98 },
        html2canvas:  { backgroundColor :'#fff',scale: 1.5, useCORS:true,proxy:'http://localhost:3000' },
};
    var worker = html2pdf().from(element).set(opt).save();
    console.log('worker',worker)
    }
</script>

</html>